<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969918154383-crcker74lfp3fp2bg2k50gcgo7961gaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969918154383-crcker74lfp3fp2bg2k50gcgo7961gaq</string>
	<key>API_KEY</key>
	<string>AIzaSyBAdKPXIxTrjkEiwPDWmKH2t1EVvYViMLU</string>
	<key>GCM_SENDER_ID</key>
	<string>969918154383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>flutter-tada</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969918154383:ios:14433ebaccda377c3cd2fa</string>
</dict>
</plist>